{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.test.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
